<!DOCTYPE html>
<html lang="en">
	<head>
		<% include ../partials/head %>
		<script type="text/javascript" src="https://bernii.github.io/gauge.js/dist/gauge.min.js"></script>
	</head>
	<script type="text/javascript">
		$('input[type=file]').bootstrapFileInput();
		$('.file-inputs').bootstrapFileInput();
	</script>
	<body class="container">
		<header>
    		<% include ../partials/header %>
		</header>
		<main>
			<div class="jumbotron">
				<!-- Show send message status -->
				    <% if (message.length > 0) { %>
				        <% if(success.length > 0) { %>
				        	<div class="alert alert-success"><%= message %></div>
				        <% } else {%>
				        	<div class="alert alert-danger"><%= message %></div>
				        <% } %>
				    <% } %>
				<ul class="nav nav-pills">
				    <li class="active"><a data-toggle="pill" href="#send">Envoyer un message</a></li>
				    <li><a data-toggle="pill" href="#receivedMessage">Messages reçus</a></li>
				    <li><a data-toggle="pill" href="#sendedMessage">Messages envoyés</a></li>
				  </ul>
				  <br>
				<div class="tab-content">
					<!-- Envoyer un message -->
					<div id="send" class="tab-pane fade in active">
						
						<form class="form-horizontal" role="form" method="post" action="/message/send">
							<div class="form-group">
								<label for="username" class="col-sm-2 control-label">Nom d'utilisateur</label>
								<div class="col-sm-10">
									<input type="text" class="form-control" id="username" name="username" placeholder="Nom d'utilisateur" value="">
								</div>
							</div>
							<div class="form-group">
								<label for="object" class="col-sm-2 control-label">Objet</label>
								<div class="col-sm-10">
									<input type="text" class="form-control" id="object" name="object" placeholder="Objet" value="">
								</div>
							</div>
							<div class="form-group">
								<label for="content" class="col-sm-2 control-label">Contenu</label>
								<div class="col-sm-10">
									<textarea class="form-control" rows="4" name="content"></textarea>
								</div>
							</div>
							<div class="form-group">
								<label for="attachment" class="col-sm-2 control-label">Pièce jointe</label>
								<div class="col-sm-10">
									<div class="file-field">
        								<div class="btn btn-primary btn-sm float-left">
            								<span>Ajouter des fichiers</span>
            								<input type="file" name="attachment" multiple="multiple">
        								</div>
								    </div>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-10 col-sm-offset-2">
									<input id="submit" name="submit" type="submit" value="Envoyer le message" class="btn btn-primary">
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-10 col-sm-offset-2">
								</div>
							</div>
						</form>
					</div>
					<div id="receivedMessage" class="tab-pane fade">
						<!-- message a lire-->
						<% for (var i = messagesTo.length - 1; i >= 0; i--){ %>
							<a href=<%= messagesTo[i].messagePath %>>
								<div class="well ">
									<div class="well well-sm">
								      <img src=<%= messagesTo[i].avatarPath %> class="media-object" style="width:60px">
								    <h3>Message de : <%= messagesTo[i].username %> </h3></div>
									<div class="well well-sm"> Objet : <%= messagesTo[i].object %> </div>	
								</div>
								</a>
								<%}%>

					</div>

					<div id="sendedMessage" class="tab-pane fade">
						<% for (var i = messagesFrom.length - 1; i >= 0; i--){ %>
							<a href=<%= messagesFrom[i].messagePath %> >
								<div class="well">
									<div class="well well-sm">
								      <img src=<%= messagesFrom[i].avatarPath %> class="media-object" style="width:60px">
								    <h3>Message pour : <%= messagesFrom[i].username %> </h3> </div>
									<div class="well"> Objet : <%= messagesFrom[i].object %> </div>	
								</div>
								</a>
								<%}%>
					</div>
					
					</div>
				</div>
		</main>
		<footer>
	    	<% include ../partials/footer %>
		</footer>
	</body>
</html>